# Streamlit secrets/defaults template.
# Replace RAPIDAPI_KEY with your real key before deployment.

RAPIDAPI_KEY = "replace_with_your_key"
RAPIDAPI_HOST = "realty-in-us.p.rapidapi.com"
RAPIDAPI_SALE_ENDPOINT = "/properties/v3/list"
RAPIDAPI_SALE_METHOD = "POST"
RAPIDAPI_SALE_LOCATION_PARAM = "postal_code"

RAPIDAPI_RENT_ENDPOINT = "/properties/v3/list"
RAPIDAPI_RENT_METHOD = "POST"
RAPIDAPI_RENT_LOCATION_PARAM = "postal_code"

DEFAULT_LOCATION = "76131"
DEFAULT_MAX_PRICE = 900000
DEFAULT_MAX_DOWN_PAYMENT = 300000
DEFAULT_INTEREST_RATE = 5.75
DEFAULT_INSURANCE_RATE = 0.0035
DEFAULT_MAINTENANCE_RATE = 0.05
DEFAULT_MANAGEMENT_RATE = 0.07
DEFAULT_VACANCY_RATE = 0.03
DEFAULT_RESULTS = 5
DEFAULT_MIN_RENT_COMPS = 2

DEFAULT_SOURCE = "rapidapi-realtor"
DEFAULT_RENT_SOURCE = "hybrid"
